{% extends "base.html" %}

{% block title %}更新主机信息{% endblock %}


{% block breadcrunb %}
  <h1>
     Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">更新主机信息</li>
  </ol>
{% endblock %}



{% block content %}


<!-- Main row -->
<div class="row">
<!-- Left col -->
<div class="col-md-12">

<!-- TABLE: LATEST ORDERS -->
<div class="box box-info">

<div class="box-header with-border">
  <h3 class="box-title">更新主机信息</h3>
  <div class="box-tools pull-right">
    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
    </button>
    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
  </div>
</div>
<!-- /.box-header -->

<div class="box-body">
      <form method="post" action="" class="form-horizontal">

        <div class="form-group"><label class="col-sm-2 control-label">产品线：</label>
            <div class="col-sm-8">
                <select name="business_line" id="project_id_name" class="select-project form-control" multiple="multiple">
                    {% for product_line in all_product_lines %}
                        <option value="{{ product_line.id }}">{{ product_line.name }}</option>
                    {% endfor %}
                </select>
                {% for error in forms.name.errors %}<span class="help-block m-b-none red">{{ error }}</span>{% endfor %}
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <input type="submit" class="btn btn-primary" value="保存" name="_save">
                <input  type="submit" class="btn btn-primary" value="保存并继续编辑" name="_edit">

            </div>
        </div>
    </form>


</div>

</div>
</div>
</div>




{% endblock %}

{% block js %}
  $(".select-project").select2().val({{ product_lines }}).trigger('change');

{% endblock %}
