{% extends "base.html" %}
{#{% load cmdbtag %}#}

    {% block title %}业务线{% endblock %}

    {% block breadcrunb %}
      <h1>
         Dashboard
        <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    {% endblock %}


{% block css %}
    <link rel="stylesheet" href="/static/zTree_v3-master/css/zTreeStyle/zTreeStyle.css" type="text/css">
{% endblock %}



{% block content %}
      <div class="row">
        <div class="col-md-12">
          <div class="box">


            <div class="box-header with-border">
              <a type="button" class="box-title btn btn-primary" href="{% url 'cmdb:product_add' %}" >添加业务线</a>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
              <div class="row">
        	    <!--业务线树结构-->
                <div class="col-md-3">
           		<ul id="ztree" class="ztree"></ul>
                </div>

        	    <!--业务线树结构-->
                <div class="col-md-9">
                    <form class="form-horizontal"  method="post">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">分类名 *</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name" value="{{product.name}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">上级分类 *</label>
                            <div class="col-sm-8">
                                    <select name="pid" id="pid" class="form-control">
                                        <option value=""> ---顶级业务线---</option>
                                        {% for parent_node in parent_nodes %}
                                            <option value="{{ parent_node.id }}">{{ parent_node.name }}</option>
                                        {% endfor %}
                                 </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">字母简称 *</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="module_letter" value="{{product.module_letter}}">
                            </div>
                        </div>

                         <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">业务负责人 *</label>
                            <div class="col-sm-8">
                                <select  multiple="multiple" tabindex="3" name="dev_interface"  id="dev_interface" class="form-control ">
                                {% for user in user_list %}
                                     <option value="{{ user.id }}">{{ user.name_cn }}</option>
                                {% endfor %}    
                               </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_op_interface" class="col-sm-2 control-label">运维负责人 *</label>
                            <div class="col-sm-8">
                                <select  multiple="multiple" tabindex="3" name="op_interface"  id="op_interface" class="form-control">
                                {% for user in user_list %}
                                    <option value="{{ user.id }}">{{ user.name_cn }}</option>
                                {% endfor %}    

                                </select>
                            </div>
                        </div>
                        <div class="form-group form-footer">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit"  class="btn btn-primary">提交</button>
                                <button  class="btn btn-default">返回</button>
                            </div>
                        </div>
                    </form>
                </div>
	    </div>
              <!-- /.row -->
          </div>
              <!-- /.box-body -->

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

     <!--Table-->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-12">

          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">产品线所用资源</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>实例名称</th>
                    <th>CPU</th>
                    <th>内存</th>
                    <th>内网IP</th>
                    <th>过期时间</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                   {% for host in host_list %}
                    <td>{{ host.instance_name }}</td>
                    <td>{{ host.cpu }}</td>
                    <td>{{ host.memory }}</td>
                    <td>{{ host.private_ip }}</td>
                    <td>{{ host.expired_time }}</td>
                   {% endfor %}
                  </tr>

                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



{% endblock %}


{% block js %}

var zTreeObj;
var setting = {};
var zNodes = {{ ztree|safe }};
         
$(document).ready(function(){
    zTreeObj = $.fn.zTree.init($("#ztree"), setting, zNodes);
})

$("#dev_interface").select2().val( {{ dev_list |safe}} ).trigger("change")
$("#op_interface").select2().val( {{ op_list |safe}} ).trigger("change")
$("#pid").select2().val(
    {% if product.pid %}
        {{ product.pid.id|default:"[]"}}
    {% endif %}
    ).trigger("change")

{% endblock %}
