{% extends "base.html" %}

{% block title %}首页{% endblock %}


{% block breadcrunb %}
  <h1>
     Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">申请列表</li>
  </ol>
{% endblock %}



{% block content %}

<!-- Main row -->
<div class="row">
<!-- Left col -->
<div class="col-md-12">

<!-- TABLE: LATEST ORDERS -->
<div class="box box-info">


    <div class="box-header with-border">
      <h3 class="box-title">发布申请列表</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- /.box-header -->

    <div class="box-body">

     <div style="margin-bottom: 10px;height: 30px" class="row">
        <form style="float: right;width: 20%;margin-right: 1%">
        <div  class="input-group">
            <input type="text" class="form-control" name="keyword"
                 placeholder="标题|内容|结果" value="{% if keyword %} {{ keyword }} {% endif %}">
            <div class="input-group-btn">
               <button id='search_btn' type="submit" class="btn btn-sm btn-primary">搜索</button>
            </div>
        </div>
        </form>
     </div>


    <div class="table-responsive">
    <table class="table table-bordered table-striped footable toggle-arrow-tiny" data-page-navigation=".paginations">
        <thead>
            <tr>
                <th class="text-center">项目名称</th>
                <th class="text-center">项目版本</th>
                <th class="text-center">版本描述</th>
                <th class="text-center">申请人</th>
                <th class="text-center">发布人</th>
                <th class="text-center">发布状态</th>
                <th class="text-center">申请时间</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
         {% for project in apply_list %}
            <tr class="gradeX {{ project.id }}">
                <td class="text-center">{{ project.name }}</td>
                <td class="text-center"> {{ project.project_version }} </td>
                <td class="text-center"> {{ project.version_desc}} </td>
                <td class="text-center"> {{ project.applicant.name_cn}} </td>
                <td class="text-center"> {{ project.assigned_to.name_cn}} </td>
                <td class="text-center"><span class="label {% if project.status == 0 %}label-success{% elif project.status == 1 %}label-warning{% endif %}">{{ project.get_status_display}}</span></td>
                <td class="text-center">{{ project.apply_time}}</td>
                <td class="text-center">
                    {% if request.user.id == project.assigned_to_id %}
                        <a href="{% url 'deploy:deploy'  project.id  %}" class="btn btn-xs btn-info">{% if project.status == 0 %}仿真{% elif project.status == 1 %}上线{% endif %}</a>
                    {% else %}
                        <a href="{% url 'deploy:deploy'  project.id %}" class="btn btn-xs btn-info">详情</a>
                    {% endif %}
                    {% if request.user.id == project.applicant_id  or request.user.id == project.assigned_to_id%}
                        <button data-id="{{ project.id }}" class="btn btn-xs btn-danger apply-cancel">取消</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    </div><!-- /.table-responsive -->

    <div class="row">
      <div class="col-sm-6">
         <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
             显示 [{{ paginator.count }}] 条数据中的 第 [{{ page_obj.start_index}}] 至 [{{ page_obj.end_index }}] 的数据
         </div>
      </div>

      {% include 'paginator.html' %}
    </div><!-- /.paginator -->

</div>
<!-- /.box-body -->

</div>
  <!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->


{% endblock %}

{% block js %}

$('.apply-cancel').click(function() {
        var apply_id = $(this).attr('data-id');
        swal({
            title: "你确定取消上线?",
            text: "取消上线后，需要重新申请",
            type: "warning",
            showCancelButton: true,
            cancelButtonText:"取消",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: "POST",
                url: "{% url 'deploy:apply_list' %}",
                data:{"apply_id": apply_id},
                success: function(data){
                    console.log(data);
                            swal({
                                title: "是",
                                text:"取消成功",
                                type: "success",
                                confirmButtonText: "确定"
                            }, function () {
                                $("."+ apply_id).remove();
                            });
             }
            });
        });
})


{% endblock %}
